CompileFlags:
  Add: [-mlong-calls, -isysroot=/home/sga/ESP8266_RTOS_SDK/TOOLCHAIN_DOWNLOAD/xtensa-lx106-elf/xtensa-lx106-elf]
  Remove: [-fno-tree-switch-conversion, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields]
